<!doctype html>
<html ng-app="SmasherApp">
	<head>
		<!-- bower:js -->
		<!-- endbower -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- inject:css-->
		<!-- endinject -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Hero Smasher</title>
		<meta name="description" content="Explore possible offspring of combining your favorite comic book superheroes and villains">
		<meta name="keywords" content="comic, book, superhero, combine, villain">
		<meta name="author" content="Hero Smasher">

		<!-- Facebook -->
		<!-- <meta property="fb:app_id" content="356883447812826"> -->
		<!-- Facebook, LinkedIn, Pinterest Open Graph data -->
		<!-- <meta property="og:site_name" content="Hero Smasher">
		<meta property="og:title" content="Hero Smasher">
		<meta property="og:description" content="Explore possible offspring of combining your favorite comic book superheroes and villains">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://www.savannahstate.edu">
		<meta property="og:image" content="http://www.savannahstate.edu/places/images/hill-hall.jpg"> -->

		<!-- Twitter data -->
		<!-- <meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@savannahstate">
		<meta name="twitter:title" content="Hero Smasher">
		<meta name="twitter:description" content="Explore possible offspring of combining your favorite comic book superheroes and villains">
		<meta name="twitter:image" content="http://www.savannahstate.edu/places/images/hill-hall.jpg"> -->

	</head>
	<body>
		<div ng-view>
        </div>
		<!-- inject:js -->  
        
        <script src="../src/public/javascript/herosmasher.js">
		<!-- endinject -->  
	</body> 
</html>