.btn-add{
    cursor: pointer;
}
.btn-add:before{
    content:"\e081";
    font-family: 'Glyphicons Halflings';
    font-weight: 300;
    font-size: 1em;
    line-height: 1em;
    color: #818892;
    display: inline-block;
}

.details-image {
    width:100%;
}



#fh5co-board .item .fh5co-desc {
    float:none !important;
}

#fh5co-board .col-md-4 {
    padding-right:0 !important;
    padding-left:0 !important;
}


#fh5co-header {
    padding-top:0 !important;
}


.fh5co-menu-btn,.fh5co-offcanvass-close {
    cursor:pointer;
}

.progress {
    background-color: #cccccc !important;
}

.combineSelected{
    border:solid 1px red;
}