<div class="container">
    <h1>What is Hero Smasher?</h1>
    <p>Have you ever wondered about the children of superheroes? Hero Smasher allows you to explore possible offspring of combining your favorite comic book superheroes and villains.</p>
    <hr />
    <h2>Legal</h2>
    <p>Hero Smasher makes no claim of ownership of the fictional characters that appear on this site. Characters are owned by their respective copyright holders.</p>

    <!--https://pixabay.com/en/bubble-speech-talk-words-thinking-157913/-->
</div>
