<div class="container" ng-hide="notfound">
    <h1 ng-hide="isEditing('name')"><span ng-show="loggedIn" ng-click="edit('name',character.name)" class="edit editFlushLeft edit-default glyphicon glyphicon-pencil"></span>{{character.name || 'Add Character Name'}}</h1>
    <form method="post" id="frmAddCharacter" name="frmAddCharacter" role="form" novalidate>
        <div class="form-group">
            <input type="text" ng-model="character.name" ng-show="isEditing('name')" name="character_name" class="form-control" placeholder="Name" required />
            <span style="color: red" ng-show="frmAddCharacter.character_name.$dirty && frmAddCharacter.character_name.$invalid">
                <span ng-show="frmAddCharacter.character_name.$error.required">Name is required.</span>
            </span>
            <span ng-show="isEditing('name','edit')" ng-click="saveEditing()" class="edit edit-positive glyphicon glyphicon-ok"></span>
            <span ng-show="isEditing('name','edit')" ng-click="cancelEditing('name')" class="edit edit-negative glyphicon glyphicon-remove"></span>
        </div>
        <div class="row">
            <div class="col-md-6" ng-repeat="image in character.images">
                <span ng-hide="isEditing('image') || loggedIn === false" ng-click="edit('image',image)" class="edit editFlushLeft edit-default glyphicon glyphicon-pencil"></span>
                <input ng-show="isEditing('image')" type="text" ng-model="image.image" class="form-control" placeholder="Image File" />
                <span ng-show="isEditing('image','edit')" ng-click="saveEditing()" class="edit edit-positive glyphicon glyphicon-ok"></span>
                <span ng-show="isEditing('image','edit')" ng-click="cancelEditing('image')" class="edit edit-negative glyphicon glyphicon-remove"></span>
                <img ng-src="{{image.image}}" class="details-image" />

            </div>

            <div class="col-md-6">

                <h4 ng-hide="isEditing('affinity')" class="characterAffinity" ng-class="character.affinity"><span ng-show="loggedIn" ng-click="edit('affinity',character.affinity)" class="edit editFlushLeft edit-default glyphicon glyphicon-pencil"></span>{{character.affinity}}</h4>
                <div ng-show="isEditing('affinity')" class="form-group">
                    <select ng-model="character.affinity" class="form-control">
                        <option value="">Hero or Villian?</option>
                        <option value="hero">Hero</option>
                        <option value="villian">Villian</option>
                        <option value="anti-hero">Anti-Hero</option>
                    </select>
                </div>
                <span ng-show="isEditing('affinity','edit')" ng-click="saveEditing()" class="edit edit-positive glyphicon glyphicon-ok"></span>
                <span ng-show="isEditing('affinity','edit')" ng-click="cancelEditing('affinity')" class="edit edit-negative glyphicon glyphicon-remove"></span>

                <h3 class="sectionTitle"><span ng-hide="isEditing('ranking') || loggedIn === false" ng-click="edit('ranking',character.rankings)" class="edit editFlushLeft edit-default glyphicon glyphicon-pencil"></span>ranking</h3>
                <div ng-hide="isEditing('ranking')">
                    <div ng-repeat="ranking in character.rankings">
                        {{ranking.category}}
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="7" style='width: {{(ranking.level/7)*100}}%;'>
                                {{ranking.level}}
                            </div>
                        </div>
                    </div>

                </div>



                <div class="row" ng-show="isEditing('ranking')">
                    <div ng-repeat="ranking in character.rankings">
                        <div id="{{ranking.id}}" style="display: inline">
                            <div class="col-md-3">
                                {{ranking.category}}
                            </div>
                            <div class="form-group col-md-3">
                                <select ng-model="ranking.origin" class="form-control">
                                    <option value="">Power Origin</option>
                                    <option value="birth">Birth</option>
                                    <option value="science">Science</option>
                                    <option value="alien">Alien</option>
                                    <option value="magic">Magic</option>
                                    <option value="unknown">Unknown</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <select ng-model="ranking.level" class="form-control">
                                    <option value="">Power Level</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <select ng-model="ranking.passable" class="form-control">
                                    <option value="">Inheritable</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <span ng-show="isEditing('ranking','edit')" ng-click="saveEditing()" class="edit edit-positive glyphicon glyphicon-ok"></span>
                <span ng-show="isEditing('ranking','edit')" ng-click="cancelEditing('ranking')" class="edit edit-negative glyphicon glyphicon-remove"></span>


            </div>
        </div>

        <h3 class="sectionTitle"><span ng-hide="isEditing('power') || loggedIn === false" ng-click="edit('power',character.powers)" class="edit editFlushLeft edit-default glyphicon glyphicon-pencil"></span>powers<span ng-show="isEditing('power','edit')" ng-click="saveEditing()" class="edit edit-positive glyphicon glyphicon-ok"></span>
            <span ng-show="isEditing('power','edit')" ng-click="cancelEditing('power')" class="edit edit-negative glyphicon glyphicon-remove"></span></h3>
        <div class="row" ng-hide="isEditing('power')">
            <ul>
                <li ng-repeat="power in character.powers">{{power.powerName}}</li>
            </ul>
        </div>
        <div class="row" ng-show="isEditing('power')">
            <div ng-repeat="power in character.powers">
                <div id="{{power.id}}" style="display: inline">
                    <div class="form-group col-md-10">
                        <input type="text" ng-model="power.powerName" name="power_powerName" class="form-control" placeholder="Super Power" required />
                        <span style="color: red" ng-show="frmAddCharacter.power_powerName.$dirty && frmAddCharacter.power_powerName.$invalid">
                            <span ng-show="frmAddCharacter.power_powerName.$error.required">Power is required.</span>
                        </span>
                    </div>

                    <div class="form-group col-md-2">
                        <a class="btn btn-danger" ng-click="character.powers.splice($index, 1)">remove</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="btn btn-success" ng-click="newPower($event)" id="btnAddPower">ADD POWER</div>
                <hr />
            </div>



        </div>


        <h3 class="sectionTitle"><span ng-hide="isEditing('trait') || loggedIn === false" ng-click="edit('trait',character.traits)" class="edit editFlushLeft edit-default glyphicon glyphicon-pencil"></span>traits<span ng-show="isEditing('trait','edit')" ng-click="saveEditing()" class="edit edit-positive glyphicon glyphicon-ok"></span>
            <span ng-show="isEditing('trait','edit')" ng-click="cancelEditing('trait')" class="edit edit-negative glyphicon glyphicon-remove"></span></h3>

        <div class="row" ng-hide="isEditing('trait')">
            <ul>
                <li ng-repeat="trait in character.traits">{{trait.trait}}</li>
            </ul>
        </div>
        <div class="row" ng-show="isEditing('trait')">
            <div ng-repeat="trait in character.traits">
                <div class="form-group col-md-10">
                    <input ng-model="trait.trait" name="trait_trait" class="form-control" placeholder="Personal Trait" required />
                    <span style="color: red" ng-show="frmAddCharacter.trait_trait.$dirty && frmAddCharacter.trait_trait.$invalid">
                        <span ng-show="frmAddCharacter.trait_trait.$error.required">Trait is required.</span>
                    </span>
                </div>
                <div class="form-group col-md-2">
                    <a class="btn btn-danger" ng-click="character.traits.splice($index, 1)">remove</a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="btn btn-success" ng-click="newTrait($event)">ADD TRAIT</div>
                <hr />
            </div>

        </div>


        <h3 class="sectionTitle"><span ng-hide="isEditing('bio') || loggedIn === false" ng-click="edit('bio',character.biography)" class="edit editFlushLeft edit-default glyphicon glyphicon-pencil"></span>biography</h3>
        <p ng-hide="isEditing('bio')">{{character.biography}}</p>
        <div class="row" ng-show="isEditing('bio')">
            <div class="form-group col-md-12">
                <textarea ng-model="character.biography" ng-show="loggedIn" class="form-control"></textarea>
                <span ng-show="isEditing('bio','edit')" ng-click="saveEditing()" class="edit edit-positive glyphicon glyphicon-ok"></span>
                <span ng-show="isEditing('bio','edit')" ng-click="cancelEditing('bio')" class="edit edit-negative glyphicon glyphicon-remove"></span>
            </div>

        </div>
        <h3 class="sectionTitle">parents</h3>

        <div class="row">
            <div class="col-md-5">
                <span ng-hide="isEditing('parent1') || loggedIn === false || isEditing('parent2')" ng-click="edit('parent1',character.parents)" class="edit editFlushLeft edit-default glyphicon glyphicon-pencil"></span>
                <div ng-show="isEditing('parent1')">
                    <select ng-change="updateParent(1)" ng-model="parentSelection" class="form-control">
                        <option ng-repeat="potentialParent in characters | orderBy:'name'" value="{{potentialParent._id}}">{{potentialParent.name}}</option>
                    </select>
                </div>
                <span ng-show="isEditing('parent1','edit')" ng-click="saveEditing()" class="edit edit-positive glyphicon glyphicon-ok"></span>
                <span ng-show="isEditing('parent1','edit')" ng-click="cancelEditing('parent')" class="edit edit-negative glyphicon glyphicon-remove"></span>
                <img class="details-image" ng-src="{{parent1.images[0].image}}" />
                <h3>{{parent1.name}}</h3>
                <h4 class="sectionTitle">ranking</h4>
                <div ng-repeat="ranking in parent1.rankings">
                    {{ranking.category}}
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="7" style='width: {{(ranking.level/7)*100}}%;'>
                                {{ranking.level}}
                            </div>
                        </div>
                </div>
                <h4 class="sectionTitle">powers</h4>
                <div class="row">
                    <ul>
                        <li ng-repeat="power in parent1.powers">{{power.powerName}}</li>
                    </ul>
                </div>

                <input type="hidden" ng-model="parent1._id" />
            </div>



            <div class="col-md-2" style="text-align: center; font-size: 5em; line-height: 2em;">
                +
            </div>
            <div class="col-md-5">
                <span ng-hide="isEditing('parent2') || loggedIn === false || isEditing('parent1')" ng-click="edit('parent2',character.parents)" class="edit editFlushLeft edit-default glyphicon glyphicon-pencil"></span>
                <div ng-show="isEditing('parent2')">
                    <select ng-change="updateParent(2)" ng-model="parentSelection2" class="form-control">
                        <option ng-repeat="potentialParent in characters | orderBy:'name'" value="{{potentialParent._id}}">{{potentialParent.name}}</option>
                    </select>
                </div>
                <span ng-show="isEditing('parent2','edit')" ng-click="saveEditing()" class="edit edit-positive glyphicon glyphicon-ok"></span>
                <span ng-show="isEditing('parent2','edit')" ng-click="cancelEditing('parent')" class="edit edit-negative glyphicon glyphicon-remove"></span>
                <img class="details-image" ng-src="{{parent2.images[0].image}}" />
                <h3>{{parent2.name}}</h3>
                <h4 class="sectionTitle">ranking</h4>
                <div ng-repeat="ranking in parent2.rankings">
                    {{ranking.category}}
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="7" style='width: {{(ranking.level/7)*100}}%;'>
                                {{ranking.level}}
                            </div>
                        </div>
                </div>
                <h4 class="sectionTitle">powers</h4>
                <div class="row">
                    <ul>
                        <li ng-repeat="power in parent2.powers">{{power.powerName}}</li>
                    </ul>
                </div>
                <input type="hidden" ng-model="parent2._id" />
            </div>
        </div>
        <hr />
        <span style="color: red">{{errorMessage}}</span>
        <img src="images/loading.gif" ng-show="loading" />
        <span ng-show="loggedIn">
            <input class="btn btn-danger" type="button" ng-hide="loading" ng-click="save()" value="Save" />
        </span>
        <a class="btn btn-default" ng-show="loggedIn" href="/#/">Cancel</a>
    </form>
</div>
<div class="container" ng-show="notfound">
    <h1>Not Found</h1>
    <p>The character you are looking for was not found.</p>
    <a class="btn btn-danger" href="/#/">Continue</a>
</div>
