<h1>{{character.name || 'CREATE CHARACTER'}}</h1>
<form method="post" id="frmAddCharacter" name="frmAddCharacter" role="form" novalidate>
    <div class="form-group">
        <input type="text" ng-model="character.name" ng-show="loggedIn" name="character_name" class="form-control" placeholder="Name" required />
        <span style="color: red" ng-show="frmAddCharacter.character_name.$dirty && frmAddCharacter.character_name.$invalid">
            <span ng-show="frmAddCharacter.character_name.$error.required">Name is required.</span>
        </span>
    </div>
    <div class="col-md-6" ng-repeat="image in character.images">
        <div class="row">
            <div class="form-group col-md-10">
                <img ng-src="{{image.image}}" class="details-image" />
                <input ng-show="loggedIn" type="text" ng-model="image.image" class="form-control" placeholder="Image File" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>affinity:</h3>
            <span ng-hide="loggedIn">{{character.affinity}}</span>
            <div ng-show="loggedIn" class="form-group">
                <select ng-model="character.affinity" class="form-control">
                    <option value="">Hero or Villian?</option>
                    <option value="hero">Hero</option>
                    <option value="villian">Villian</option>
                    <option value="both">Anti-Hero</option>
                </select>
            </div>

            <h3>ranking:</h3>


            <div class="row rankings" ng-hide="loggedIn" >
                <div ng-repeat="ranking in character.rankings" class="ranking">
                        <div class="col-md-6">
                            {{ranking.category}}
                        </div>
                        <div class="col-md-6">
                            {{ranking.level}}
                        </div>
                </div>
            </div>



            <div class="row" ng-show="loggedIn">
                <div ng-repeat="ranking in character.rankings">
                    <div id="{{ranking.id}}" style="display: inline">
                        <div class="form-group col-md-3">
                            {{ranking.category}}
                        </div>
                        <div class="form-group col-md-3">
                            <select ng-model="ranking.origin" class="form-control">
                                <option value="">Power Origin</option>
                                <option value="birth">Birth</option>
                                <option value="science">Science</option>
                                <option value="alien">Alien</option>
                                <option value="magic">Magic</option>
                                <option value="unknown">Unknown</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <select ng-model="ranking.level" class="form-control">
                                <option value="">Power Level</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <select ng-model="ranking.passable" class="form-control">
                                <option value="">Inheritable</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>

    <h3>powers:</h3>
    <div class="row" ng-hide="loggedIn">
        <ul>
            <li ng-repeat="power in character.powers">{{power.powerName}}</li>
        </ul>
    </div>
    <div class="row" ng-show="loggedIn">
        <div ng-repeat="power in character.powers">
            <div id="{{power.id}}" style="display: inline">
                <div class="form-group col-md-10">
                    <input type="text" ng-model="power.powerName" name="power_powerName" class="form-control" placeholder="Super Power" required />
                    <span style="color: red" ng-show="frmAddCharacter.power_powerName.$dirty && frmAddCharacter.power_powerName.$invalid">
                        <span ng-show="frmAddCharacter.power_powerName.$error.required">Power is required.</span>
                    </span>
                </div>

                <div class="form-group col-md-2">
                    <a class="btn btn-danger" ng-click="character.powers.splice($index, 1)">remove</a>
                </div>
            </div>
        </div>
        <div class="btn-add col-md-12" ng-click="newPower($event)" id="btnAddPower">ADD POWER</div>
    </div>

    <h3>traits:</h3>
    <div class="row" ng-hide="loggedIn">
        <ul>
            <li ng-repeat="trait in character.traits">{{trait.trait}}</li>
        </ul>
    </div>
    <div class="row" ng-show="loggedIn">
        <div ng-repeat="trait in character.traits">
            <div id="Div1">
                <div class="row">
                    <div class="form-group col-md-10">
                        <input ng-model="trait.trait" name="trait_trait" class="form-control" placeholder="Personal Trait" required />
                        <span style="color: red" ng-show="frmAddCharacter.trait_trait.$dirty && frmAddCharacter.trait_trait.$invalid">
                            <span ng-show="frmAddCharacter.trait_trait.$error.required">Trait is required.</span>
                        </span>
                    </div>
                    <div class="form-group col-md-2">
                        <a class="btn btn-danger" ng-click="character.traits.splice($index, 1)">remove</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-add col-md-12" ng-click="newTrait($event)">ADD TRAIT</div>
    </div>



    <h3>biography:</h3>
    {{character.biography}}
            <div class="form-group col-md-12">
                <textarea ng-model="character.biography" ng-show="loggedIn" class="form-control"></textarea>
            </div>















    <h3>parents:</h3>

    <div class="row">
        <div class="col-md-5">
            <img class="details-image" ng-src="{{parent1.images[0].image}}" />
            <h3>{{parent1.name}}</h3>
            <input type="hidden" ng-model="parent1._id" />
            <a class="btn btn-block btn-sm btn-outline" href="/#/character/{{parent1._id}}">details</a>
            <a ng-show="loggedIn" class="btn btn-danger" ng-click="changeParent(1)">change</a>
        </div>
        <div class="col-md-2" style="text-align: center; font-size: 5em; line-height: 5em;">
            +
        </div>
        <div class="col-md-5">
            <img class="details-image" ng-src="{{parent2.images[0].image}}" />
            <h3>{{parent2.name}}</h3>
            <input type="hidden" ng-model="parent2._id" />
            <a class="btn btn-block btn-sm btn-outline" href="/#/character/{{parent2._id}}">details</a>
            <a ng-show="loggedIn" class="btn btn-danger" ng-click="changeParent(2)">change</a>
        </div>
        <div class="col-md-12" ng-show="showParentChange">
            <select ng-change="updateParent()" ng-model="parentSelection">
                <option ng-repeat="potentialParent in characters | orderBy:'name'" value="{{potentialParent._id}}">{{potentialParent.name}}</option>
            </select>
        </div>
    </div>



    <input class="btn btn-default" type="button" ng-click="save()" value="Save" ng-show="loggedIn" />

</form>
