<div class="character" ng-click="showStats(character._id)" ng-class="{combineSelected : isSelected(character._id)===true,'stats-hide' : character._id!=displayStats}">
    <div class="characterImageWrapper animate-box bounceIn animated">
        <img class="characterImage" ng-src="{{character.images[0].image}}" alt="{{character.name}}" />
        <h2 class="characterName">{{character.name}}</h2>
        <h4 class="characterAffinity" ng-class="character.affinity">{{character.affinity}}</h4>
        <div class="controls">
            <a title="edit" class="details" href="/#/character/{{character._id}}"><i class="glyphicon glyphicon-cog"></i></a><a title="delete" class="delete" ng-show="loggedIn" class="btn btn-block btn-sm btn-primary" href="/#/delete/{{character._id}}"><i class="glyphicon glyphicon-trash"></i></a>
        </div>

    </div>


    <div class="fh5co-desc">
        <div class="innerDesc">
            <span class="btn btn-danger btn-combine" ng-click="combine(character._id)"><i class="glyphicon glyphicon-transfer"></i>combine</span>
            <h4 class="heading">ranking</h4>
            <div ng-repeat="ranking in character.rankings">
                {{ranking.category}}
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="7" ng-attr-style="width: {{(ranking.level/7)*100}}%;">
                        {{ranking.level}}
                    </div>
                </div>
            </div>





            <h4 class="heading">powers</h4>
            <ul>
                <li ng-repeat="power in character.powers">{{power.powerName}}</li>
            </ul>
            <h4 class="heading">biography</h4>
            <p>{{character.biography}}</p>
        </div>
    </div>
</div>
