    <h1>COMBINE CHARACTERS</h1>
    <p>Select any two characters to create a new super hero or villian. The new characters ranking, powers, and traits will be an unpredictable combination of the two parent character. </p>
    <div class="col-md-12" style="text-align:center;">
        <img src="images/loading.gif" ng-show="loading"  />
    </div>
<div id="fh5co-board" class="row">
    
        <div class="col-md-4">
            <div class="item" ng-repeat="character in characters | orderBy : 'name' | limitTo : columnLimit1">
                <div ng-include="'partials/home-character-block.html'"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item" ng-repeat="character in characters | orderBy : 'name'| limitTo : columnLimit1:columnLimit1">
                <div ng-include="'partials/home-character-block.html'"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item" ng-repeat="character in characters | orderBy : 'name'| limitTo : characterCnt:columnLimit1+columnLimit2">
                <div ng-include="'partials/home-character-block.html'"></div>
            </div>
        </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">New Combination</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <h3>{{parent1.name}}</h3>
                        <img class="details-image" ng-src="{{parent1.images[0].image}}" />
                        
                    </div>
                    <div class="col-md-2" style="text-align: center; font-size: 5em; line-height: 2em;">
                        +
                    </div>
                    <div class="col-md-5">
                        <h3>{{parent2.name}}</h3>
                        <img class="details-image" ng-src="{{parent2.images[0].image}}" />
                        
                    </div>
                </div>
                <hr />

                <h2>{{childCharacter.name}}</h2>
                <p>{{childCharacter.affinity}}</p>
                <h4>ranking</h4>
                

                <div ng-repeat="ranking in childCharacter.rankings">
        {{ranking.category}}
    <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="7" ng-attr-style="width: {{(ranking.level/7)*100}}%;">
            {{ranking.level}}
        </div>
    </div>
    </div>




                <h4>powers</h4>
                <ul>
                    <li ng-repeat="power in childCharacter.powers">{{power.powerName}}</li>
                </ul>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-danger" ng-click="edit()" ng-show="loggedIn" data-dismiss="modal">Edit</button> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

