<div id="fh5co-main">
    <div class="container">
        <div class="row">
            <h1>Combine Characters</h1>
            <a href="/#/add/">add</a>
            <div id="fh5co-board" data-columns="2">
                <div class="column size-1of2">
                    <div class="item" ng-repeat="character in characters" ng-if="$even">
                        <div class="animate-box bounceIn animated">
                            <img src="{{character.images[0].image}}" alt="{{character.name}}">
                        </div>
                        <div class="fh5co-desc">
                            <p>{{character.name}}</p>
                            <a href="/#/character/{{character._id}}">edit</a> | <a href="/#/delete/{{character._id}}">delete</a>
                        </div>
                    </div>
                </div>
                <div class="column size-1of2">
                    <div class="item" ng-repeat="character in characters" ng-if="$odd">
                        <div class="animate-box bounceIn animated">
                            <img src="{{character.images[0].image}}" alt="{{character.name}}">
                        </div>
                        <div class="fh5co-desc">
                            <p>{{character.name}}</p>
                            <a href="/#/character/{{character._id}}">edit</a> | <a href="/#/delete/{{character._id}}">delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
